<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all tools</title>
</head>
<body>

<h1>Overview of all tools</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Application</th>
        <th>Available</th>
        <th>Total</th>
        <th>Buy</th>

    </tr>
    <tr th:each="tool : ${allTools}">
        <td th:text="${tool.name}"></td>
        <td th:text="${tool.application}"></td>
        <td th:text="${tool.getAvailableItems()}"></td>
        <td th:text="${tool.getTotalItems()}"></td>
        <td><a th:href="@{/item/new/{toolId}(toolId = ${tool.toolId})}"> Add a Tool</a></td>
    </tr>
</table>

<p>
    <a th:href="@{/tool/new}"> Add a new Tool </a>
</p>
</body>
</html>